.quest{
	background-color:#fff;
}
.list-quest{
	list-style:none;
}
.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
.lista-reportes{
	background-color: #518ebf; 
	padding-top: 1%;
	padding-bottom: 1%;
}
.reporte{
	background-color:#8a909f;
	margin: 2%;
	margin-top: 2%;
	border-style: solid;
    border-width: 2px;
}
.img-center{
	margin: auto;
}

.demo-text-note{
	display: block;
	width: 260px;
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size: 13px;
	line-height: 13px;
	color: #131415;
	font-weight: 400;
}
.demo-type-example{
	padding-left: 25%;
	margin-bottom: 40px;
	position: relative;
}
/*modificacion color navbar*/
.navbar-default{
  background-color:#13c1ac;
}
.navbar-default .navbar-brand{
	color: #FFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

.btn-main-color{
	color: #FFF;
	background-color: #13c1ac;
}